# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# Uvicorn
*.pid

# Test and coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Build
dist/
build/
*.egg-info/
